<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h3>LISTE DES PRODUITS</h3>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Recherche :</span>
                </div>
                <input type="text" class="form-control" aria-label="Default"
                       aria-describedby="inputGroup-sizing-default" (keyup)="searchProduct($event)">
            </div>
            <form class="d-flex" [formGroup]="panierForm">
                <table class="table table-bordered text-center">
                    <thead class="table-primary">
                    <tr>
                        <th scope="col">Catégorie</th>
                        <th scope="col">Produit</th>
                        <th scope="col">Fournisseur</th>
                        <th scope="col">quantité</th>
                        <th scope="col">Total Par Produit</th>
                        <th scope="col">Annuler</th>
                    </tr>
                    </thead>
                    <tbody>
                    <ng-container formArrayName="items">
                        <tr *ngFor="let item of items.controls;let i=index" [formGroupName]="i">
                            <td>
                                <select class="form-select" (change)="changeSelectedCategoryItem($event)">
                                    <option value="-1" selected disabled>Select a category</option>
                                    <option *ngFor="let category of categories"
                                            [value]="category.id_Categorie">{{ category.name }}
                                    </option>
                                </select>
                            </td>
                            <td>
                                <select [disabled]="selectedIdCategory<1"
                                        class="form-select"
                                        (change)="changeSelectedProductIdItem($event)">
                                    <option value="-1" selected disabled>Selectionner un produit</option>
                                    <option *ngFor="let produit of produits"
                                            [value]="produit.id_Produit">{{ produit.type }}
                                    </option>
                                </select>
                            </td>
                            <td>
                                <select formControlName="id" id="id-{{i}}" [disabled]="selectedIndexProductItem<1"
                                        class="form-select">
                                    <option value="-1" selected disabled>Selectionner un produit</option>
                                    <option *ngFor="let item of fournisseurProduit"
                                            [value]="item.id">{{ item.fournisseur.prenom + " " + item.fournisseur.nom + " | " + item.prix }}
                                    </option>
                                </select>
                            </td>
                            <td>
                                <input type="number" class="form-control text-center" formControlName="qte" value="1">
                            </td>
                            <td>
                                {{ (panierForm.get('items')?.value[i].qte || 1) * (getItemFournisseur1(i)?.prix || 1) }}
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger me-2"
                                        (click)="removeItem(i)">X
                                </button>
                            </td>
                        </tr>
                    </ng-container>
                    <tr>
                        <td colspan="6">
                            <button class="btn btn-success" type="button" (click)="addItemWithoutProduct()">+</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5"></td>
                        <td>
                            Total : {{ getTotalSum() }}
                        </td>
                    </tr>

                    </tbody>
                </table>


            </form>
            <button type="button" class="btn btn-success" data-bs-toggle="modal"
                    data-bs-target="#exampleModal1">Confirmer</button>
        </div>

    </div>
</div>

<div class="modal fade modal-dialog" id="exampleModal1" tabindex="-1"
     aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Confirmation de la commande</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="panierForm" (ngSubmit)="onSubmit()" class="card card-body bg-light">
                <div class="modal-body ">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                    </button>
                    <button type="submit" class="btn btn-success" [disabled]="panierForm.invalid"
                            data-bs-dismiss="modal">
                        Confirmer
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
